/* Snowflakes */
@keyframes snow {
  0% {
    transform: translateY(-100px) rotate(0deg);
  }

  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}

body {
  font-family: "Barlow", sans-serif;
  background-color: #172a3f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}

.snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.snowflake {
  position: absolute;
  top: -10px;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  animation: snow linear infinite;
  opacity: 0.8;
}

.card {
  perspective: 1000px;
  z-index: 2;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 0;
  margin-bottom: 20px;
  transition: transform 1s ease;
}

.card-inner {
  width: 480px;
  height: 672px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  backface-visibility: hidden;
}

.card-front {
  background: url("/img/background.jpeg") no-repeat center center/cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transform: rotateY(0deg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  text-align: center;
  border: 9px solid #fff;
}

.card-front h1 {
  margin: 0;
  line-height: 90px;
  font-size: 90px;
  font-weight: lighter;
  font-family: "Pacifico", cursive;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.1),
    0 0 10px rgba(255, 255, 255, 0.1), 0 0 15px rgba(255, 255, 255, 0.1);
}

.image-container {
  width: 150px;
  height: 150px;
  margin-top: 300px;
  overflow: hidden;
  border-radius: 50%;
  transition: transform 0.5s ease;
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: red;
  opacity: 0;
  pointer-events: none;
  animation: fall 2s forwards;
}

/* Falling heart animation */
@keyframes fall {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, 150px) scale(0.8);
  }
}

.card-back {
  padding: 30px;
  transform: rotateY(180deg);
  background-color: #ffffff;
  border: 2px solid #546eff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message {
  font-size: 16px;
  color: #333;
  margin-top: 20px;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}

.signature {
  font-size: 20px;
  color: #5fa8ec;
  font-family: "Pacifico", cursive;
  text-align: right;
  margin-top: 30px;
}

/* Responsive Design for smaller screens */
@media (max-width: 768px) {
  .card-inner {
    width: 400px;
    height: 560px;
  }

  .card-front h1 {
    font-size: 60px;
    line-height: 80px;
  }

  .image-container {
    width: 120px;
    height: 120px;
    margin-top: 250px;
  }

  .message {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .card-inner {
    width: 300px;
    height: 420px;
  }

  .card-front h1 {
    font-size: 24px;
    line-height: 40px;
  }

  .message {
    font-size: 8px;
  }

  .signature {
    font-size: 18px;
  }

  .image-container {
    width: 100px;
    height: 100px;
    margin-top: 200px;
  }
}

/* Play/Stop Button */
.play-stop-button {
  background-color: #5fa8ec;
  color: white;
  font-size: 20px;
  font-family: "Pacifico", cursive;
  padding: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 3;
  transition: transform 0.2s ease;
}

.play-stop-button:hover {
  transform: scale(1.1);
}
